
body header{
    height:70px;
    width: 100%;
    display:flex;
    align-items: center;
    margin-top:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body header img{
 margin: 0px;   
 
}
header nav{
    float:right;
    font-weight: bold;
    font-size: small;
    color:blue;
    cursor: pointer;
    border-radius: 5px;
    word-spacing:50px ;
    
}
header nav a:hover{
background-color:whitesmoke;
border-radius: 5px;
}
div{
    text-align: center;
    width:75%;
    margin:auto;
    border:2px solid;
}
span{
    font-style: italic;
    color:deeppink;
}
p{
 width:75%;
 margin:auto;
 }
img{
    margin: auto;
}
blockquote{
    color:crimson;
}
body footer{
    background-color: lightcoral;
    color: black;
    font-size: small;
    text-align: center;
}
@media only screen and (max-width:320px){
    div{
        width: 100%;
     }
     
    div img{
    height:100px;
    width:150px;
}
div p{
    font-size:smaller ;

}
div blockquote{
    font-size:smaller ;

}

}

@media only screen and (min-width: 321px) and (max-width:480px) {
    div{
        width:90%;
    }
    div img{
        height:100px;
        width:150px;
    }
       div p{ font-size:small ;
    
    }
    div blockquote{
        font-size:small;
    
    }
    
}

/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    div img{
        height:200px;
        width:300px;
    }
    div p{
        font-size:medium;
    
    }
    div blockquote{
        font-size:medium;
    
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    div img{
        height:300px;
        width:400px;
    }    
    div p{
        font-size:medium;    
    }
    div blockquote{
        font-size:medium ;
    
    }
}

/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    div img{
        height:400px;
        width:500px;
    }    
    div p{
        font-size:large;
    
    }
    div blockquote{
        font-size:large;
    
    }
}

/* Media Query for Large screens */
@media only screen and (min-width: 1281px) {
    div img{
        height:400px;
        width:500px;
    } 
    div p{
        font-size:large;    
    }
    div blockquote{
         font-size:large;
    
    }
}   